<html ng-app="Reproductor">

<head>
    <title>Reproductor Musical</title>
    <link rel="stylesheet" href="estilos/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="codigo/app.js"></script>
</head>

<body ng-controller="ControladorReproductor">
    <div class="principal">
        <h1>Music</h1>
        <div class="artistas">

            <div class="listaArtistas">
                <h2>Artistas</h2>
                <ul>
                    <li ng-repeat="artista in artistas" ng-click="SeleccionarArtista(artista)">
                        {{ artista.Nombre }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="listacanciones">
            <h2>Canciones de</h2>
            <ul>
                <li ng-repeat="cancion in canciones" ng-click="SeleccionarCancion(cancion)">
                    {{ cancion.Titulo }}
                </li>
            </ul>
        </div>

    </div>
    </div>
</body>

</html>